/* 
================================
Skin styles for DotNetNuke
================================
*/
.head_left
{
	background-image: url(images/head_left.png); 
	background-repeat:no-repeat;
	height:31px;
	width:7px;
}
.head_center
{
	background-image: url(images/head_center.png); 
	background-repeat:repeat;
	height:31px;
	width:100%;
}
.head_right
{
	background-image: url(head_right.png); 
	background-repeat:no-repeat;
	width:7px;
	height:31px;
}

   
.mainBg {
background-color:#00417b;
}
.leftBg {
background-image: url(main_left_bg.gif);
 text-align:right;
 background-position:right;
background-repeat: repeat-y;
}
.rightBg {
background-image: url(main_right_bg.gif);

background-repeat: repeat-y;
}
.intro {
background-image: url(banner2.png);
width:100%;
height:155px;
background-repeat: no-repeat;
}
.Banner {
background-image: url(banner1.png);
width:774px;
height:81px;
background-repeat: no-repeat;
}
.userinfor {
background-image: url(nguoidung.png);
width:44px;
height:49px;
background-repeat: no-repeat;
}
.exit {
background-image: url(thoat.png);
width:43px;
height:49px;
background-repeat: no-repeat;
}
.logo {
background-image: url(logo.png);
width:569px;
height:80px;
background-repeat: no-repeat;
}
.left_menu {
background-image: url(images/left_menu.png);
width:42px;
height:32px;
background-repeat: no-repeat;
float:left;
}
.right_menu {
background-image: url(images/menu_a.png);
background-repeat:repeat-x;
float:right;
width:718px;
}

.Head_Module {
background-image: url(images/head_center.png);
background-repeat:repeat-x;

}
.bottom {
background-image: url(main_bottom_bg2.gif);
height:19px;
background-repeat: repeat-x;
}
.menuPhu{
background-image: url(menu_phu_bg.gif);
height:23px;
background-repeat:no-repeat;
vertical-align:middle;
text-align:center;
}

