<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>fe736006-5bce-42c8-8adf-1826d2d01fb4</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>fe736006-5bce-42c8-8adf-1826d2d01fb4</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>fe736006-5bce-42c8-8adf-1826d2d01fb4</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>8A65007C97F7742D5ED69D42E066E55E</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
