
.imgCollapse {
    background-position: -18px -3px;
    width: 11px;
    height: 12px;
}
.cssMenu0
{
	padding:6px;
}
.cssMenu1
{
	padding:6px;
}

.cssMenu1Sel
{
	padding:6px;
		background:url(submenu_hover.png);
}
.cssMenu1 a
{
	color:#fff;
	
	
}
.cssMenu1 a:hover
{
	color:#fff;
	background:url(submenu_hover.png);
	
}
.cssMenu0 a
{
	padding:6px;
	color:#0066b3;
	font-weight:bold;
	height:32px;
}
.cssMenu0 a:hover
{
	padding:6px;
	color:#ffffff;
	font-weight:bold;
	height:32px;
	line-height:1.0;
	
	background:url(menu_active.png);
}
